<!--
  <ul class="heroes">
  
      <li *ngFor="let character of characters"  (click) = "onSelect(character)">
        <img src="{{character.image}}">
        <br>
        {{character.name}}
      </li>
    </ul>
    <div *ngIf="selectedCharacter" >
      <h2>
        Stats for {{selectedCharacter.name}}:
        <br>
        <ul>
          <li *ngFor="let item of selectedCharacter.abilities" >
            {{item.abName}}
            <br>
            {{item.description}}
          </li>
        </ul>
      </h2>
    </div>
<div>
  <p>{{mercy}}</p>
</div> 
-->
<app-characters></app-characters>